{% extends '_base.html' %}

{% block content %}

<div class="md:container md:mx-auto py-3">
    <div class="flex flex-row" >
        <a href="/home/">Home</a>
        <span class="px-2" >/</span>
        <strong class="" >Pc gamer</strong>
    </div>
</div>

<div class="md:container md:mx-auto">
    <div class="md:flex md:flex-row  grid-rows-4 grid-flow-col gap-4 p-8 md:py-8" >
        <img src="/product_images/pc1.jpg" class="object-cover h-auto w-auto  md:h-96 md:w-96 ">
        <div class="grid justify-items-center grid-flow-row auto-rows-max border-2 border-gray-300 rounded-xl p-6 bg-gray-100  w-auto md:w-full" data-aos='fade-up'>
            <h2 class="text-center pb -8" >Pc gamer</h2>
            <p class="text-center" >Este es un test del producto 1</p>
        </div>    
    </div>
</div>

{% endblock content %}