{% extends '_base.html' %}

{% block content %}

<div class="md:container md:mx-auto " >
    <div class="flex flex-col p-8" >
        <h1 class="text-center underline-offset-8 capitalize text-2xl italic p-5 ">Find us in our nearest stores</h1>
        <div class="flex justify-center" >
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29857.76061253295!2d-102.36055521567539!3d20.70128601032246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x84294c7724fa8125%3A0x1710ec70ada1486!2sArandas%2C%20Jal.!5e0!3m2!1ses-419!2smx!4v1650685475762!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    
        </div>
    </div>
</div>

{% endblock content %}